/* style.css */
html {
  justify-content: center;
  align-items: center;
}
body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #333;
  text-justify: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #23dfc6;
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  color: #e09320;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #ffffff;
}

div {
  justify-content: center;
  align-items: center;
}